{% extends 'layout.html' %}

{% block body %}

<div class="container-fluid mx-auto w-100" style="height:570px;">
	<div class="row h-80" style="background-color: green">
		<div class="col-9 m-0 p-0 w-100" style="background-color: lightblue">
			<div class="row mx-auto" style="background-color: orange; height:410px;">
				<div class="col-8 mx-auto px-0 w-100" style="background-color: grey; overflow-y: scroll; overflow-x: none;">
				<div class="w-100" style="height: 50px; background-color: cyan;">
					<!--<form action="{{ url_for('search') }}" method="post" class="form-inline">-->
					<form action="{{ url_for('search') }}" method="post" class="form-inline">
					<div class="form-group row w-100 pt-1">
						<label for="scryfallSearchBox" class="align-middle col-3">Search Scryfall:&nbsp;&nbsp;</label>
						<input type="text" class="form-control col-9" id="scryfallSearchBox" name="search_string" inplaceholder="Example: id=w cmc<=3">
					</div>
					</form>
				</div>
					<div class="row mx-auto">
					{% for card in cards %}

					<div class="col-3 px-1 pt-3">
						<figure class="figure">
						<!--<div class="content" ondrop="drop(event)" ondragover="allowDrop(event)" style="width:146px; height:204px;">-->
						<div data-draggable="target" style="height: 204px; width: 146px;">
							<img src={{card.s_img}} alt={{card.name}} oracle="{{card.oracle_text}}" data-draggable="item" class="figure-img rounded card-display zoom card-click">
						</div>
						<!--</div>-->
						</figure>
					</div>

						{% if loop.index % 4 == 0 %}
				</div>
				<div class="row mx-auto" style="margin-top:-150px;">
						{% endif %}
					{% endfor %}
					</div>
				</div>
				<div id="oracle-text-box" class="col mx-0 oracle-font" style="padding-top: 15px; padding-bottom: 100px; background-color: yellow; overflow-y:auto;">
					Oracle Text
				</div>
			</div>
		</div>
		<div class="col" style="background-color: lightgreen; height:410px;">
			<div>
				<div class="row m-1 px-auto">
					<img id="large-image-box" class="card-display-large rounded" src="{{url_for('static', filename='images/Helvault-Logo.jpg')}}">
				</div>
			</div>
		</div>
	</div>
	<div class="fixed-bottom" style="background-color: blue; height:214px; padding-left:20px; overflow-y:hidden; overflow-x: auto; white-space: nowrap;">
		<!--<div class="content card-holder">-->
		{% set max = 20 %}
		{% for i in range(0, max)%}
		<div class="card-holder holder-ident-{{ loop.index }}" data-draggable="target" style="display: inline-block; float:none; vertical-align:top;">

		</div>
		{% endfor %}
	</div>

</div>

{% endblock %}
