{% extends 'layout.html' %}

{% block body %}

<div class="container-fluid mx-auto w-100" style="overflow-y:none;">
	<div class="row h-100 w-100" style="background-color: #247BA0; overflow-y:none; position:fixed; ">
		<div class="col-9 m-0 p-0 w-100" style="background-color: lightblue;">
			<div class="row mx-auto h-100" style="background-color: orange;">
				<div class="col-8 mx-auto px-0 w-100 style-card-area" style="margin-bottom: 200px; overflow-y: scroll; overflow-x: none;">
					<div class="w-100 style-search-bar" style="height: 50px; padding-left: 10px;">
						<!--<form action="{{ url_for('search') }}" method="post" class="form-inline">-->
							<!-- <form action="{{ url_for('search') }}" method="post" class="form-inline">-->
							<div id="search_area" class="form-group row w-100 pt-1">
								<label for="scryfall_search_box" class="align-middle col-3" style="padding-top: 10px;">Search Scryfall:&nbsp;&nbsp;</label>
								<input type="text" class="form-control col-9" id="scryfall_search_box" name="search_string" placeholder="Example: id=w cmc<=3">
							</div>
						<!--</form>-->
					</div>
					<div id="place_for_cards" class="row mx-auto" style="margin-bottom: 80px;"></div>
				</div>
				<div id="oracle-text-box" class="col mx-0 oracle-font style-oracle-text" style="padding-top: 15px; padding-bottom: 50px; margin-bottom: 200px; overflow-y:scroll;">
				</div>
			</div>
		</div>
		<div class="col" style="height:420px;">
			<div class="row h-100 w-100 m-0 style-display-image">
				<img id="large-image-box" class="card-display-large rounded" src="{{url_for('static', filename='images/Helvault-Logo.jpg')}}">
			</div>
		</div>
	</div>
	<div id="slide_deck" class="fixed-bottom style-slide-deck" style="height:214px; padding-left:20px; overflow-y:hidden; overflow-x: auto; white-space: nowrap;">
		<!--<div class="content card-holder">-->
		{% set max = 20 %}
		{% for i in range(0, max)%}
		<div class="card-holder holder-ident-{{ loop.index }}" data-draggable="target" style="display: inline-block; float:none; vertical-align:top;">

		</div>
		{% endfor %}
	</div>

</div>

{% endblock %}
