<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Archive Trap</title>
		<link rel="stylesheet" href="https://getbootstrap.com/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ url_for('static',filename='styles/archiveTrap.css')}}">
	</head>
	<body>
		{% include 'includes/_navbar.html' %}
		{% block body %}{% endblock %}	

		<script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
		<script src="https://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
		<script type="text/javascript" src="{{url_for('static', filename='javascript/cardZoom.js')}}"></script>
	</body>
</html>
