<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Helvault</title>
		<link rel="stylesheet" href="https://getbootstrap.com/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ url_for('static',filename='styles/archiveTrap.css')}}">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	</head>
	<body>
		{% block body %}{% endblock %}	

		<script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
		<script src="https://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
		<script id="script1" type="text/javascript" src="{{url_for('static', filename='javascript/cardDisplay.js')}}"></script>
		<script id="script2" type="text/javascript" src="{{url_for('static', filename='javascript/cardZoom.js')}}"></script>
		<script id="script3" type="text/javascript" src="{{url_for('static', filename='javascript/cardDrag.js')}}"></script>
		<script id="script4" type="text/javascript" src="{{url_for('static', filename='javascript/cardSelect.js')}}"></script>
		<script id="script5" type="text/javascript" src="{{url_for('static', filename='javascript/cardTraversal.js')}}"></script>
	</body>
</html>
