body {
	width: 100%;
}

.navbar {
}

.zoom {
	position: relative;
}

.card-display {
	border-radius: .50rem!important;
	width: 146px;
	height: 204px;
}

.card-display-large {
	border-radius: .60rem!important;
	width: 250px;
	height: 349px;
	
}

.oracle-font {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.875em;
}

.card-holder {
	border:1px solid black;
	margin-top: 4px;
	margin-left: 15px;
	height: 206px;
	width: 148px;
}
