body {
	width: 100%;
	margin: 0;
	height: 100%;
	overflow-y:none;
	position: absolute;
}

.navbar {
}

.zoom {
	position: relative;
}

.card-display {
	border-radius: .70rem!important;
	width: 9em;
	height: 13em;
	/*
	width: 10em;
	height: 14em;
	*/
}

.card-holder {
	/* DEBUG */
	/*background-color: green;*/
}

.card-spacer {
	width:20px;
	height: 204px;
	margin:0;
	display:inline-block;
	float:none;
	/* DEBUG */
	/*background-color:orange;*/
}

.card-draggable-deck {
	width:143px;
	height:204px;
}

.card-display-large {
	border-radius: .90rem!important;
	/*
	width: 300px;
	height: 429px;
	width: 17em;
	height: 24em;
	*/
	width: 95%;
	height: auto;
	margin: auto;
	margin-top: 1em;
	vertical-align: middle;
	display:block;
}

.oracle-font {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.875em;
}

.card-holder {
	/* border:1px solid black; */
	border-radius :.50rem!important;
	margin-top: 4px;
	/*margin-left: 15px;*/
	height: 204px;
	width: 143px;
}

.card-selected {
	border:2px solid #FF6347;
	border-radius: .70rem!important;
	margin-top: 4px;
	/*margin-left: 15px;*/
	height: 208px;
	width: 148px;
}

.style-navbar {
	font-family: 'Helvetica', sans-serif;
	background-color: #1c607d;
	color: #F0F7F4;
}

.style-search-bar {
	font-size: 1em;
	font-family: 'Helvetica', sans-serif;
	color: #F0F7F4;
	background-color: #1c607d;
}

.style-card-area {
	background-color: #F0F7F4;
}

.style-slide-deck {
	background-color: #1c607d;
	z-index: 1;
}

.style-oracle-text {
	border:1px solid #9CAEA9;
	background-color: #F0F7F4;
	color: #000000;
}

.style-display-image {
	background-color: #247BA0;
	font-size: 1em;
	font-family: 'Helvetica', sans-serif;
	color: #F0F7F4;
}
